/*Global styles*/
body{
  font-family:'Montserrat','serif';
  color: #1f373d;
}
a{
    text-decoration: none;
    color: #1f373d;
}
/*header*/
.header{
display: flex;
width: 1024px;
border: 2px solid silver;
margin: o auto;
justify-content: space-between;
align-items: center;
padding: 35px 16px;
}